* {
box-sizing:border-box;
}

body {
    background-color:#30415A !important;
    color:#3AB4F2 !important;
    font-size: 25px !important;
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 20px !important; 
}

h1 {
    display: flex !important;
    justify-content: center !important;
    font-size: 4em !important;
}

ul {
    list-style-type: none !important;
    margin: 10px !important;
    padding:0 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows:auto !important;
    background-color:transparent !important;
    color:#FED934;
}

.pokemon-button {
    margin: 10px;
    background-color:transparent ;
    color:#FED934;
    font-family: 'Courier New', Courier, monospace;
    border:3px solid #3AB4F2;
    border-style: dashed;

}

.list-group{
  border-color: #3AB4F2;
  border-style: dotted;  
}


.credits {
    display: block;
    color:#3AB4F2;
    justify-content: center;
    justify-items: center;
}
